<h2 id="forecast-header">{{ city }} Forecast</h2>

<section id="days-selector">

    Days: 
    <a class="days-counter" href="#/forecast/3" ng-class="{ 'active': days === '3' }">3</a> | 
    <a class="days-counter" href="#/forecast/5" ng-class="{ 'active': days === '5' }">5</a> | 
    <a class="days-counter" href="#/forecast/7" ng-class="{ 'active': days === '7' }">7</a>
    <a class="material-icons" href="#/">settings</a>
    <i class="material-icons lighting" ng-click="randomTheme()">flash_on</i>

</section>


<div id="forecast-container">

    <article class="weathercard" ng-repeat="weather in weatherResult.list">

        <daily 
            day="weather" 
            round="simpleTemp(temp)" 
            convert-to-date="convertToDate(date)" 
            date-format="EEEE M/d">
        </daily>
        
        <a ng-href="{{ themeResult.data[$index].images.original.url }}">
            <img 
                ng-src="{{ themeResult.data[$index].images.original.url }}" 
                height="150" 
                width="150"
            />
        </a>
        

    </article>
    
</div>