@import "variables";
@import "mixins";

body {
    background-color: $w;
    font-family:      $ff;
    height:           100vh;
}

nav {
    width: 100%;
}

#navbar {
    padding: 8px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#navbar-header {
    font-size: 3em;
    margin-left: 30px;
}

.brand-red {
    color: $tc;
}

.brand-yellow {
    color: $sc;
}

.brand-purple {
    color: $pc;
}

.brand-blue {
    color: $bg;
}

#navbar-nav {
    margin-right: 40px;
    a {
        color: $pc;
        &:hover {
            color: $sc;
        }
    }
}

.container, #days-selector {
    margin: 25px;
    text-align: center;
}

#inputs-container {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    border-bottom: 2px solid $b;
    margin: 10px auto 40px auto;
    text-align: center;
    width: 220px;
    outline: none;
}

#forecast-header, .selection-header {
    font-size: 1.5em;
}

#days-selector {
    a {
        text-decoration: none;
        color: $sc;
    }
}

.active {
    background-color: $tc;
}

#forecast-header, .weathercard-header {
    font-weight: 800;
    text-transform: capitalize;
}

#forecast-container {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weathercard {
    border: 4px solid blue;
    margin: 10px;
    padding: 8px;
}

.weathercard-body {
    padding: 5px;
}